
.hyven,
.cyvisub,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.hyven-angle-double-left:before {
  content: "\f100"; 
}

.hyven-angle-double-right:before {
  content: "\f101"; 
}

.hyven-angle-down:before {
  content: "\f107"; 
}

.hyven-angle-right:before {
  content: "\f105"; 
}

.zuzy:before {
  content: "\f002"; 
}

.hyven-times:before {
  content: "\f00d"; 
}

.hyven-chevron-right:before {
  content: "\f054"; 
}

.hyven-map-marker-alt:before {
  content: "\f3c5"; 
}

.hyven-phone-square-alt:before {
  content: "\f87b"; 
}

.hyven-envelope:before {
  content: "\f0e0";
}

.leka:before {
  content: "\f406";
}

.hefalo:before {
  content: "\f073";
}

.rary:before {
  content: "\f086";
}

.dawodyg:before {
  content: "\f106";
}

.hyven-facebook-f:before {
  content: "\f39e";
}

.hyven-twitter:before {
  content: "\f099";
}

.hyven-google-plus-g:before {
  content: "\f0d5";
}

.hyven-pinterest-p:before {
  content: "\f231";
}

.hyven-dribbble:before {
  content: "\f17d";
}

.hyven-instagram:before {
  content: "\f16d";
}

.hyven-flickr:before {
  content: "\f16e";
}

.hyven-linkedin-in:before {
  content: "\f0e1";
}

.hyven-youtube:before {
  content: "\f167";
}

.hyven-vimeo-v:before {
  content: "\f27d";
}

.hyven-skype:before {
  content: "\f17e";
}

.hyven-xing:before {
  content: "\f168";
}

.hyven-slack:before {
  content: "\f198";
}

.hyven-wordpress:before {
  content: "\f19a";
}

.hyven-github:before {
  content: "\f09b";
}

.hyven-bitbucket:before {
  content: "\f171";
}

.hyven-jsfiddle:before {
  content: "\f1cc";
}

.hyven-codepen:before {
  content: "\f1cb";
}

.hyven-tumblr:before {
  content: "\f173";
}

.hyven-tripadvisor:before {
    content: "\f262";
}

.hyven-soundcloud:before {
    content: "\f1be";
}

.hyven-digg:before {
    content: "\f1a6";
}

.hyven-reddit-alien:before {
    content: "\f281";
}

.hyven-stumbleupon:before {
    content: "\f1a4";
}

.hyven-get-pocket:before {
    content: "\f265";
}
.hyven-vine:before {
    content: "\f1ca";
}
.hyven-vk:before {
    content: "\f189";
}
.hyven-whatsapp:before {
    content: "\f232";
}
.hyven-lastfm:before {
    content: "\f202";
}

.hyven-forumbee:before {
    content: "\f211";
}

.hyven-foursquare:before {
    content: "\f180";
}
.hyven-500px:before {
    content: "\f26e";
}

.hyven-paypal:before {
    content: "\f1ed";
}
.hyven-viadeo:before {
    content: "\f2a9";
}
.hyven-telegram:before {
    content: "\f2c6";
}

.hyven-dropbox:before {
    content: "\f16b";
}

.hyven-google-wallet:before {
    content: "\f1ee";
}

.hyven-git-alt:before {
    content: "\f841";
}

.hyven-stack-overflow:before {
    content: "\f16c";
}

.hyven-wikipedia-w:before {
    content: "\f266";
}

.hyven-odnoklassniki:before {
    content: "\f263";
}

.hyven-mixcloud:before {
    content: "\f289";
}

.hyven-itunes:before {
    content: "\f3b4";
}

.hyven-behance:before {
    content: "\f1b4";
}

.hyven-yelp:before {
    content: "\f1e9";
}

.hyven-weixin:before {
    content: "\f1d7";
}

.hyven-apple:before {
    content: "\f179";
}

.hyven-android:before {
    content: "\f17b";
}

.hyven-windows:before {
    content: "\f17a";
}

.hyven-amazon:before {
    content: "\f270";
}

.hyven-ebay:before {
    content: "\f4f4";
}

.hyven-product-hunt:before {
    content: "\f288";
}

.hyven-deviantart:before {
    content: "\f1bd";
}

.hyven-docker:before {
    content: "\f395";
}

.hyven-periscope:before {
    content: "\f3da";
}

.hyven-slideshare:before {
    content: "\f1e7";
}

.hyven-snapchat:before {
    content: "\f2ab";
}

.hyven-medium-m:before {
    content: "\f3c7";
}

.hyven-spotify:before {
    content: "\f1bc";
}

.hyven-twitch:before {
    content: "\f1e8";
}

.hyven-mailchimp:before {
    content: "\f59e";
}

.hyven-plus:before {
    content: "\f067";
}

.hyven-minus:before {
    content: "\f068";
}


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }
  
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.hyven,
.cyvisub {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
